
/* ZZZ custom font */
@font-face {
    font-family: 'zzzfont';
    src: url(ZZZfont.ttf) format('truetype');
}

/* text style */
.defaultStyle {
    color: white;
}

.titleStyle {
    color: white;
}




body {
    background-color: lightslategray;
    font-family: 'zzzfont';
    background-image: url(backgroundImgs/characterscreenbackground.png);
    background-size: 1250px;
}


#title {
    color: white;
    text-shadow: -5px -5px 0 gray, 5px -5px 0 black, 5px 5px 0 black, 5px 5px 0 black;
    font-size: 50px;
}

#introTitle {
    font-size: 40px;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.introDesc {
    color: #c8c8c8;
    position: relative;
    top: -525px;
    left: 115px;
    height: 225px;
    width: 800px;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

#introChars {
    border-radius: 20px;
    width: 1250px;
    padding: 20px;
    background-color: black
}

.selectContainer {
    position: relative;
    width: 1;
    height: 1;
}

/* CORIN SELECTION BUTTON */
#selectCorin {
    position: absolute;
    top:79.8%;
    left:42.5%;
    transform: translate(-96%, -167%); /* center the button */
    z-index: 2; /* set a higher z-index than the image */
    background: transparent;
    color: black; /* set your desired text color */
    border: none; /* remove button border */
    border-radius: 10px;
    padding: 57.5px 100px; /* set your desired padding */
    cursor: pointer; /* change mouse cursor on hover */
}
/*
#selectCorin:hover {
    background-color: purple;
}
*/

/* LYCAON SELECTION BUTTON*/
#selectLycaon {
    position: absolute;
    top:68.8%;
    left:50.5%;
    transform: translate(-44%, -167%); /* center the button */
    z-index: 2; /* set a higher z-index than the image */
    background: transparent;
    color: black; /* set your desired text color */
    border: none; /* remove button border */
    border-radius: 10px;
    padding: 57.5px 100px; /* set your desired padding */
    cursor: pointer; /* change mouse cursor on hover */
}
/*
#selectLycaon:hover {
    background-color: black;
}
*/

/* ELLEN SELECTION BUTTON*/
#selectEllen {
    position: absolute;
    top:68.8%;
    left:58.8%;
    transform: translate(5%, -167%); /* center the button */
    z-index: 2; /* set a higher z-index than the image */
    background: transparent;
    color: black; /* set your desired text color */
    border: none; /* remove button border */
    border-radius: 10px;
    padding: 57.5px 100px; /* set your desired padding */
    cursor: pointer; /* change mouse cursor on hover */
}
/*
#selectEllen:hover {
    background-color: red;
}
*/

/* RINA SELECTION BUTTON */
#selectRina {
    position: absolute;
    top:68.8%;
    left:67%;
    transform: translate(55%, -167%); /* center the button */
    z-index: 2; /* set a higher z-index than the image */
    background: transparent;
    color: black; /* set your desired text color */
    border: none; /* remove button border */
    border-radius: 10px;
    padding: 57.5px 100px; /* set your desired padding */
    cursor: pointer; /* change mouse cursor on hover */
}
/*
#selectRina:hover {
    background-color: gray;
}
*/


/* AGENT SELECT */

.agents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#timeToPick {
    font-size: 30px;
}



#agentSelect {
    position: relative;
    top:50px;
    left:3%;
    transform: translate(-50%, -50%); /* center the button */
    z-index: 2; /* set a higher z-index than the image */
    color: #fff; /* set your desired text color */
    border: none; /* remove button border */
    border-radius: 50%;
    padding: 10px 10px; /* set your desired padding */
    cursor: pointer; /* change mouse cursor on hover */
}

#agentSelect:hover {
    background-color: #aac200;
}

#uhOh {
    font-size: 30px;
}

.agentButtons {
    position: relative;
    width: 1;
    height: 1;
}

#corinAgent {
    background-image: url(characterImgs/Agent_Corin_Wickes_Icon.png);
    background-color: purple;
    background-size: 100% 100%;
    position: absolute;
    transform: translate(-200%, -10%);
    border-width: 15px;
    border-radius: 10px;
    border-color: purple;
    padding: 100px;
}

#corinAgent:hover {
    background-color: #aac200;
    border-color: #aac200;
}


#lycaonAgent {
    background-image: url(characterImgs/Agent_Von_Lycaon_Icon.png);
    background-color: rgb(12, 90, 109);
    background-size: 100% 100%;
    position: absolute;
    transform: translate(-50%, -10%);
    border-width: 15px;
    border-radius: 10px;
    border-color: rgb(12, 90, 109);
    padding: 100px;
}

#lycaonAgent:hover {
    background-color: #aac200;
    border-color: #aac200;
}

#rinaAgent {
    background-image: url(characterImgs/Agent_Alexandrina_Sebastiane_Icon.png);
    background-color: rgb(153, 22, 22);
    background-size: 100% 100%;
    position: absolute;
    transform: translate(100%, -10%);
    border-width: 15px;
    border-radius: 10px;
    border-color: rgb(153, 22, 22);
    padding: 100px;
}

#rinaAgent:hover {
    background-color: #aac200;
    border-color: #aac200;
}



/* STORY GAME */


#cluesList {
    color: white;
    background-color: #363435;
    position: fixed;
    top: auto;
    left: auto;
    padding: 20px;
    border-radius: 10px;
    border-color: white;
    font-size: 30px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}


/* LOCATION MENU */
.locationButtons {
    background-color: transparent;
    background-size: 110% 100%;
    background-position: center;
    position: absolute;
    border: none;
    padding: 200px;
    visibility: hidden;
}

.locationButtons:hover {
    background-color: #aac200;
    border-radius: 30%;
}

#sixthStreet {
    background-image: url(uiImgs/locationImgs/1District_Sixth_Street_Icon.png);
    transform: translate(-130%, -450%);
    line-height: bottom;
}

#balletTwins {
    background-image: url(uiImgs/locationImgs/2District_Ballet_Twins_Road_Icon.png);
    transform: translate(0%, -450%);
}

#brantStreet {
    background-image: url(uiImgs/locationImgs/3District_Brant_Street_Construction_Site_Icon.png);
    transform: translate(130%, -450%);
}

#portElpis {
    background-image: url(uiImgs/locationImgs/4District_Port_Elpis_Icon.png);
    transform: translate(-70%, -330%);
}

#luminaSquare {
    background-image: url(uiImgs/locationImgs/5District_Lumina_Square_Icon.png);
    transform: translate(70%, -330%);
}

/* BACK BUTTON */
#backButton {
    background-image: url(uiImgs/buttonImgs/Icon_Back.png);
    background-size: contain;
    background-color: transparent;
    background-position: center;
    z-index: 2;
    position: fixed;
    border: none;
    padding: 120px;
    visibility: visible;
    top:600px;
    left: 30px
}

/* CLUES */

.clues {
    background-image: url(uiImgs/clueImgs/Icon_Hollow_Observation_Data.png);
    background-size: 110% 100%;
    background-color: transparent;
    background-position: center;
    position: absolute;
    border: none;
    border-radius: 50%;
    padding: 75px;
    visibility: visible;
}

.clues:hover {
    background-color: #aac200;
}



/* SIXTH STREET */

#sixthStreet_Title {
    font-size: 50px;
    position: absolute;
    transform: translate(126%, -1450%);
}

#sixthStreet_IMG {
    border-radius: 20px;
    width: 1250px;
    padding: 20px;
    background-color: black;
    transform: translate(0%, -115%);
}

#sixclue {
    transform: translate(-400%, -270%);
}



/* BALLET TWINS */

#balletTwins_Title {
    font-size: 50px;
    position: absolute;
    transform: translate(135%, -2570%);
}

#balletTwins_IMG {
    border-radius: 20px;
    width: 1250px;
    padding: 20px;
    background-color: black;
    transform: translate(0%, -215%);
}

#balletclue {
    transform: translate(-700%, -780%);
}


/* BRANT STREET */

#brantStreet_Title {
    font-size: 50px;
    position: absolute;
    transform: translate(125%, -3685%);
}

#brantStreet_IMG {
    border-radius: 20px;
    width: 1250px;
    padding: 20px;
    background-color: black;
    transform: translate(0%, -315%);
}

#brantclue1 {
    transform: translate(-600%, -1100%);
}


#brantclue2 {
    transform: translate(-250%, -1400%);
}



/* PORT ELPIS */

#portElpis_Title {
    font-size: 50px;
    position: absolute;
    transform: translate(175%, -4820%);
}

#portElpis_IMG {
    border-radius: 20px;
    width: 1250px;
    padding: 20px;
    background-color: black;
    transform: translate(0%, -418%);
}

#portclue1 {
    transform: translate(-650%, -1850%);
}


#portclue2 {
    transform: translate(-250%, -1600%);
}


/* BALLET TWINS */

#luminaSquare_Title {
    font-size: 50px;
    position: absolute;
    transform: translate(100%, -5960%);
}

#luminaSquare_IMG {
    border-radius: 20px;
    width: 1250px;
    padding: 20px;
    background-color: black;
    transform: translate(0%, -520%);
}

#luminaclue {
    transform: translate(-350%, -2100%);
}


.ending {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    transform: translate(0%, -325%);
}
/*
#ending {
    transform: translate(0%, -525%);
}

.transformed {
    transform: translate(0%, -525%);
}
*/
#ending_IMG {
    border-radius: 20px;
    width: 1250px;
    padding: 20px;
    background-color: black;
}

#pressSpace {
    font-size: 30px;
    position: relative;
    transform: translate(0%, -9025%);
    text-align: center;
}